body {
    padding-top: 90px;
}

table th, td {
    text-align: center;
}

table > tbody > tr {
    cursor: pointer;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.table-responsive > a.btn {
    margin-bottom: 20px;
}

input[type=checkbox] {
    margin: 0;
}

label {
    margin: 0;
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.jumbotron {
    height: 100vh;
    margin: 0;
}

.filters {
    padding: 5px 30px 5px;
    width: 220px;
    border: 1px solid #DBE3E7;
    border-radius: 3px;
    box-shadow: 1px 3px 1px rgba(0,0,0,0.08);
    position: fixed;
    text-align: left;
}

.filter-criteria {
    display: block;
    margin: 10px 0;
}

.filters span {
    display: block;
    font-weight: bold;
    margin: 20px 0 12px 0;
}

.filters label {
    display: block;
    font-weight: 500;
}

.filters label input {
    margin-right: 10px;
}

.items-table {
    margin-left: 250px;
}

.flex-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.item-container {
    flex: 1;
    position: relative;
    margin: 10px;
    padding: 10px;
    border: 1px solid #DBE3E7;
    border-radius: 3px;
    box-shadow: 1px 3px 1px rgba(0,0,0,0.08);
    cursor: pointer;
}

.item-container:hover {
    background-color: rgba(0,0,0,0.03);
}

.item-container span {
    display: block;
    font-weight: 700;
    margin-bottom: 10px;
}

.container > a.btn {
    margin-left: 10px;
}